extends layout

block content
  div(class='row')
    div(class='small-12 medium-4 columns')
      nav(id='accountsNav')
        ul(class='side-nav')
          li(class='title')
            h3 Checking
          li(class='divider')
          ul(class='side-nav', data-category='checking')
            li
              a(href='#') Demo Checking
                span(class='balance right') $0.00
          li(class='title')
            h3 Savings
          li(class='divider')
          ul(class='side-nav', data-category='savings')
            li
              a(href='#') Demo Savings
                span(class='balance right') $0.00
          li(class='title')
            h3 Credit
          li(class='divider')
          ul(class='side-nav', data-category='credit')
            li
              a(href='#') Demo Credit
                span(class='balance right') $0.00
    div(class='small-12 medium-8 columns')
      table(id="accountsTable", class="hover")
        thead
          tr
            th Data
            th Payee
            th(class="hide-for-small-only") Status
            th(class="show-for-large-only") Debt
            th(class="show-for-large-only") Credit
            th(class="hide-for-large-only") Amount
            th(class="show-for-medium") Balance
        tbody
