doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name="apple-mobile-web-app-capable", content="yes")
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor/jquery.dataTables.css')
    link(rel='stylesheet', href='/stylesheets/vendor/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/nv.d3.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='javascripts/vendor/modernizr.js')
    script(src='javascripts/vendor/jquery.js')
    script(src='javascripts/vendor/jquery.dataTables.js')
    script(src='javascripts/vendor/lodash.js')
    script(src='javascripts/foundation/foundation.js')
    block scripts
    script(src='javascripts/main.js')
  body
    div(class='contain-to-grid sticky')
      nav(class='top-bar', data-topbar, role='navigation')
        ul(class='title-area')
          li(class='name')
            h1
              a(href='/')
                img(src='images/budgetTailLogo.png', class='budget-icon')
                span BugetTail Online
      ul(id='appNav', class='tabs', role='tablist')
        li(class='tab-title', role='presentation', data-path='/summary')
          a(href='/summary',role='tab',tabindex='0',aria-selected='true')
            h2
              span(class='icon-stats-bars')
              span Summary
        li(class='tab-title', role='presentation', data-path='/accounts')
          a(href='/accounts',role='tab',tabindex='0',aria-selected='true')
            h2
              span(class='icon-library')
              span Accounts
        li(class='tab-title', role='presentation', data-path='/budget')
          a(href='/budget',role='tab',tabindex='0',aria-selected='true')
            h2
              span(class='icon-pie-chart')
              span Budget
    main(role='main')
      block content
