extends layout

block content
  div(class='row')
    div(class='small-12 medium-6 columns')
      div#categories(class='tile-container')
        div(class='tile-header')
          h3 Top Categories
        svg(height='180px', width='100%')
    div(class='small-12 medium-6 columns')
      div#payees(class='tile-container')
        div(class='tile-header')
          h3 Top Payees
        div(class='tile-content')
          svg(height='180px', width='100%')
    div(class='small-12 columns')
      div#budgetSummary(class='tile-container')
        div(class='tile-header')
          h3 Income vs. Expenses
        svg(height='180px', width='100%')

block scripts
  script(src='javascripts/vendor/d3.min.js')
  script(src='javascripts/vendor/nv.d3.min.js')
  script(src='javascripts/summary.js')
